<section class="cta" aria-labelledby="cta">
	<svg class="cta__decor-top decor-top hidden xl:block" xmlns="http://www.w3.org/2000/svg" fill="inherit"
		viewBox="0 0 1920 199">
		<path fill="inherit"
			d="m2673 85.8-849.5-71.5-781.3 62.4L272.2 0l-697.7 52-591.7-31.2-599.2 50.7L-2136 69l53 83.3 679-40.4 257.9 36.5 553.7-39L105.4 91l561.3 79.4 428.6-37.7 333.7 29.9 561.3-33.8 307.2 70.2 330-7.8z" />
	</svg>
	<svg class="cta__decor-top decor-top xl:hidden sm:block max-sm:hidden" xmlns="http://www.w3.org/2000/svg"
		fill="inherit" viewBox="0 0 834 117">
		<path fill="inherit"
			d="M1428 50.2 937.8 8.4 487 44.9 42.7 0-360 30.4l-341.4-18.2-345.8 29.6-299.8-1.5 30.6 48.7 391.8-23.6 148.8 21.3 319.5-22.8 402.7-10.7 326.9 35.5 244.3-11.1L708 88.7l326-13.4 177.3 41 190.4-4.5z" />
	</svg>
	<svg class="cta__decor-top decor-top xl:hidden sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="inherit"
		viewBox="0 0 390 74">
		<path fill="inherit"
			d="M769 44.6 531 18.3l-218.8 23L96.6 13-99 32.2l-165.7-11.5-167.9 18.7-145.5-1 14.9 30.7L-373 54.2l72.3 13.4 155-14.3 195.5-6.8L208.5 69l118.6-7 92.4 7 158.3-8.5 86 26 92.5-3z" />
	</svg>


	<picture class="cta__bg">
		<source srcset="../img/cta/mb.jpg" media="(max-width: 480px)">
		<source srcset="../img/cta/tb.jpg" media="(max-width: 835px)">
		<source srcset="../img/cta/bg.jpg" media="(min-width: 835px)">
		<img loading="lazy" alt="bg" src="./img/cta/bg.jpg">
	</picture>

	<div class="cta__container">
		<div class="cta__content ">
			<h2 class="cta__title" id="cta">
				<strong>
					Отримайте
				</strong>
				<span>
					індивідуальну
				</span>
				<span>
					пропозицію
				</span>
			</h2>
			<p class="cta__text">
				Готову КП у відповідь Ви отримаєте протягом 24-х годин
			</p>
			<a href="#" class="cta__btn button button--white button--big ">
				<span class="button__text">Надіслати запит</span>
				<span class="button__icon">
					<svg>
						<use href="__spritemap.svg#sprite-arrow-top-right"></use>
					</svg>
				</span>
			</a>
		</div>
	</div>
</section>