<section class="news">

	<svg class="news__decor-top decor-top " xmlns="http://www.w3.org/2000/svg" width="1920" height="70" fill="none">

	</svg>


	<svg class="news__decor-top hidden xl:block decor-top" xmlns="http://www.w3.org/2000/svg" width="1920" height="70"
		fill="inherit">
		<path fill="inherit"
			d="m3126-3-559.5 44.9L2025.6-7 1474 55.6l-471.6-39.1-429 22.5L163.1-.2-170 7.7v167.8L58.3 135l302 40.5L729.8 155l548 20.5h1951.5l-34-112.1z" />
	</svg>
	<svg class="news__decor-top xl:hidden sm:block max-sm:hidden decor-top" xmlns="http://www.w3.org/2000/svg" width="834"
		height="70" fill="inherit">
		<path fill="inherit"
			d="M1391.6 2 1114 24 845.6 0 284 20.8 76.5 7.2l-155-3.8-165.2 3.8L-245 27 4 96.5h190.5l335.5 27 449-36L1161.6 65 1426 34.7z" />
	</svg>

	<svg class="news__decor-top sm:hidden decor-top " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 390 70">
		<path fill="inherit"
			d="m390 131-124-5.5-103.5 9.5-80.5-7.5-61.5 6.5L0 132V7.3l27.5 2.2 64 5.5L161 7.5 235 0l129.5 10L390 8.8z" />
	</svg>

	<div class="news__container">
		<header class="news__header">
			<h2 class="news__title">
				енергоблог
			</h2>

			<div class="hidden lg:block news__progress  progress">
				<div class="progress__line "></div>
				<div class="progress__fill "></div>
				<button class="progress__thumb">
					<svg>
						<use href="/#sprite-arrow-right"></use>
					</svg>
				</button>
			</div>
			<div class="lg:hidden news__navigation navigation ">
				<div class="navigation__buttons">
					<button type="button" class="navigation__btn navigation__btn--prev">
						<svg>
							<use href="/#sprite-slider-arrow-left"></use>
						</svg>
					</button>
					<button type="button" class="navigation__btn navigation__btn--next">
						<svg>
							<use href="/#sprite-slider-arrow-right"></use>
						</svg>
					</button>
				</div>

			</div>
		</header>

		<div class="news__swiper swiper">
			<div class="news__swiper-wrapper swiper-wrapper">

				<a href="#" class="news__slide swiper-slide article-news">
					<img loading="lazy" class="article-news__image" src="img/news/card1.jpg" alt="Image">
					<div class="article-news__badges ">
						<span class="article-news__badge badge">Аналітика</span>
						<span class="article-news__badge badge">Електроенергія</span>
					</div>
					<h3 class="article-news__title ">
						Чого очікувати у 2024?
					</h3>
				</a>

				<div class="news__slide swiper-slide ">
					<div class="news__double ">

						<a href="#" class="article-news ">
							<img loading="lazy" class="article-news__image" src="img/news/card2.jpg" alt="Image">
							<div class="article-news__badges ">
								<span class="article-news__badge badge">Новини</span>
								<span class="article-news__badge badge">StrumCo</span>
							</div>

							<h3 class="article-news__title ">
								Рекордний пік споживання електроенергії у лютому: чи буде рекорд за місяць
							</h3>
						</a>

						<a href="#" class="article-news article-news--accent ">
							<div class="article-news__badges ">
								<span class="article-news__badge badge badge--inverse">Поради</span>
								<span class="article-news__badge badge badge--inverse">Електроенергія</span>
							</div>
							<h3 class="article-news__title ">
								Як підприємству зменшити витрати на електроенергію: чек-лист основних резервів
							</h3>

						</a>
					</div>
				</div>

				<a href="#" class="news__slide swiper-slide article-news article-news--white">
					<img loading="lazy" class="article-news__photo" src="img/news/card4.jpg" alt="Image">

					<div class="article-news__top">
						<div class="article-news__badges ">
							<span class="article-news__badge badge badge--inverse">Інфографіка</span>
							<span class="article-news__badge badge badge--inverse">Електроенергія</span>
						</div>

						<div class="article-news__content">
							<h3 class="article-news__title ">
								Динаміка виробництва електроенергії: 2022-2023
							</h3>
							<p class="article-news__text ">
								За 8 місяців 2021 року обсяг виробництва електричної енергії електростанціями, які входять до ОЕС
								України, досяг 102 640,2 млн кВт∙год, що на 6 244,2 млн кВт∙год або на 6,5% більше порівняно з
								відповідним періодом 2020 року, свідчать дані Міністерства енергетики України.
							</p>

						</div>
					</div>


					<div class="article-news__author  author-meta">
						<img loading="lazy" class="author-meta__photo" src="img/news/author.png" alt="Олександр Шульга">
						<div class="author-meta__about">
							<div class="author-meta__name">
								Олександр <span>Шульга</span>
							</div>
							<span class="author-meta__devider"></span>
							<div class="author-meta__position">
								Директор Аналітичного департаменту StrumCo
							</div>
						</div>
					</div>
				</a>

				<div class="news__slide swiper-slide ">
					<div class="news__double ">

						<a href="#" class="article-news ">
							<img loading="lazy" class="article-news__image" src="img/news/card3.jpg" alt="Image">
							<div class="article-news__badges ">
								<span class="article-news__badge badge">Поради</span>
								<span class="article-news__badge badge">Електроенергія</span>
							</div>

							<h3 class="article-news__title ">
								“А” чи “Б”? Як визначити на якій групі вам буде вигідніше?
							</h3>
						</a>

						<a href="#" class="article-news article-news--dark ">
							<div class="article-news__badges ">
								<span class="article-news__badge badge ">Новини</span>
								<span class="article-news__badge badge ">StrumCo</span>
							</div>
							<h3 class="article-news__title ">
								Ринок на добу наперед: підсумки грудня
							</h3>
						</a>
					</div>
				</div>

				<a href="#" class="swiper-slide news__cta ">
					<h3 class="news__cta-title ">
						Перейти до всіх
						дописів блогу
					</h3>
				</a>

			</div>
		</div>
	</div>
</section>