<section class="partners" aria-labelledby="partners">

	<svg class="partners__decor-top hidden xl:block decor-top" xmlns="http://www.w3.org/2000/svg" width="1920" height="70"
		viewBox="0 0 1920 70" fill="inherit">
		<path fill="inherit"
			d="m2859.7 114.5-542.7 70H-174L-436.3 102l-2.7-46.5L78 10.2l341 15.9 583.5-26 922 43L2396-34 2929 37.4z" />
	</svg>
	<svg class="partners__decor-top xl:hidden sm:block max-sm:hidden decor-top" xmlns="http://www.w3.org/2000/svg"
		width="834" height="70" viewBox="0 0 834 70" fill="inherit">
		<path fill="inherit"
			d="m834 904.2-265.8-10.7L346.3 912l-172.5-14.6-131.9 12.7-43.9-4V14.3l59 4.3L194 29.2l149-14.6L501.7 0l277.6 19.5L834 17z" />
	</svg>

	<svg class="partners__decor-top sm:hidden decor-top " xmlns="http://www.w3.org/2000/svg" fill="inherit"
		viewBox="0 0 390 70">
		<path fill="inherit"
			d="M390 713.5 266 708l-103.5 9.5L82 710l-61.5 6.5-20.5-2V10.3l27.5 2.2 64 5.5 69.5-7.5L235 3l129.5 10 25.5-1.2z" />
	</svg>


	<div class="partners__container">
		<div class="partners__header">
			<h2 class="partners__title" id="partners">
				<span>Пишаємося</span>
				<strong>співпрацею</strong>
			</h2>
		</div>

		<div class="partners__slider swiper">
			<div class="partners__wrapper swiper-wrapper">
				<div class="slide-partners partners__slide swiper-slide">
					<div class="slide-partners__grid">
						<div class="slide-partners__spacer"></div>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p1.png" alt="partner 1" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<!-- repeat -->
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p2.png" alt="partner2" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p3.png" alt="partner 3" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p4.png" alt="partner 4" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p5.png" alt="partner 5" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p6.png" alt="partner6" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p7.png" alt="partner7" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p8.png" alt="partner 8" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p9.png" alt="partner 9" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p10.png" alt="partner 10" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p11.png" alt="partner11" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p12.png" alt="partner 12" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p13.png" alt="partner13" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p14.png" alt="partner 14" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p15.png" alt="partner15" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p16.png" alt="partner 16" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p17.png" alt="partner17" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
					</div>
				</div>
				<!-- repeat -->
				<div class="slide-partners partners__slide swiper-slide">
					<div class="slide-partners__grid">
						<div class="slide-partners__spacer"></div>


						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p6.png" alt="partner6" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p7.png" alt="partner7" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p8.png" alt="partner 8" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p9.png" alt="partner 9" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p10.png" alt="partner 10" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p11.png" alt="partner11" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p14.png" alt="partner 14" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p12.png" alt="partner 12" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p13.png" alt="partner13" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p1.png" alt="partner 1" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p2.png" alt="partner2" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p3.png" alt="partner 3" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p4.png" alt="partner 4" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p5.png" alt="partner 5" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p15.png" alt="partner15" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p16.png" alt="partner 16" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p17.png" alt="partner17" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="slide-partners partners__slide swiper-slide">
					<div class="slide-partners__grid">
						<div class="slide-partners__spacer"></div>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p1.png" alt="partner 1" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p4.png" alt="partner 4" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p5.png" alt="partner 5" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p6.png" alt="partner6" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p7.png" alt="partner7" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p8.png" alt="partner 8" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p2.png" alt="partner2" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p3.png" alt="partner 3" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>





						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p11.png" alt="partner11" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p12.png" alt="partner 12" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p13.png" alt="partner13" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p14.png" alt="partner 14" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p9.png" alt="partner 9" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p10.png" alt="partner 10" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item">
							<img loading="lazy" src="./img/partners/p15.png" alt="partner15" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p16.png" alt="partner 16" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>

						<a href="#" class="slide-partners__item slide-partners__item--white">
							<img loading="lazy" src="./img/partners/p17.png" alt="partner17" class="slide-partners__img">
							<svg class="slide-partners__icon">
								<use href="/__spritemap.svg#sprite-arrow-bottom-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="partners__navigation navigation ">
				<div class="navigation__buttons">
					<button type="button" class="navigation__btn navigation__btn--prev">
						<svg>
							<use href="/__spritemap.svg#sprite-slider-arrow-left"></use>
						</svg>
					</button>
					<button type="button" class="navigation__btn navigation__btn--next">
						<svg>
							<use href="/__spritemap.svg#sprite-slider-arrow-right"></use>
						</svg>
					</button>
				</div>

			</div>
		</div>

	</div>

</section>