<section class="ps" aria-labelledby="ps">
	<svg class="ps__decor-top hidden xl:block decor-top" xmlns="http://www.w3.org/2000/svg" width="1920" height="70"
		fill="inherit">
		<path fill="inherit"
			d="M-665.7 138.5 48.5 200l664-13 833.5 21.5 434.7-92.7 534.6-26 511.3 45.3 415-9.1 3.4-46.5-644.2-45.3-425 15.9-727.1-26L499.8 67-87.9-10-752 61.4z" />
	</svg>
	<svg class="ps__decor-top xl:hidden sm:block max-sm:hidden decor-top" xmlns="http://www.w3.org/2000/svg" width="834"
		height="70" fill="inherit">
		<path fill="inherit"
			d="m-386.6 75.5 254.6 3L-14.5 92 145 112.5l318 9L682.5 104 914 131.5l126.3-58.3 160.4-6.1 1.3-31.3L953 5.3 788.9 15.9 532 0l-637 29.7-315-6.1z" />
	</svg>

	<svg class="ps__decor-top sm:hidden decor-top " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 390 70">
		<path fill="inherit"
			d="m390 131-124-5.5-103.5 9.5-80.5-7.5-61.5 6.5L0 132V7.3l27.5 2.2 64 5.5L161 7.5 235 0l129.5 10L390 8.8z" />
	</svg>


	<div class="ps__container">
		<div class="ps__content ">
			<h2 class="ps__title" id="ps">
				P.S.
			</h2>
			<div class="ps__text">
				<p>Ринок електричної енергії чи надання послуг з газопостачання безумовно потребують досвіду, глибоких знань,
					подекуди
					інтуїції – знання одних лише Правил ринку електроенергії сьогодні недостатньо.</p>
				<p>
					Розрахунок вартості електроенергії для підприємств, зміна постачальника, своєчасний прогноз та допомога в
					базових
					питаннях – це комплекс послуг під ключ, який отримують всі клієнти StrumCo без виключення.
				</p>
			</div>
		</div>
	</div>
	<!-- <div class="ps__bg">
		<img  loading="lazy" src="@img" alt="">
	</div> -->
</section>