<section class="testimonials" aria-labelledby="testimonials">
	<svg class="testimonials__decor-top decor-top hidden xl:block" xmlns="http://www.w3.org/2000/svg" fill="inherit"
		viewBox="0 0 1920 70">
		<path fill="inherit"
			d="m-721.1 166.2 289 6.8H1545l574.5-10.5 465.3-33.6 226-31.7 594.7 35L3452 60l-455.2 2.3-525-44.1-518.3 27.1L1342.2 0 667.7 66.7-16.7 12.4-761 74.6z" />
	</svg>
	<svg class="testimonials__decor-top decor-top hidden xl:hidden sm:block max-sm:hidden"
		xmlns="http://www.w3.org/2000/svg" viewBox="0 0 834 70" fill="inherit">
		<path fill="inherit"
			d="m834 1088.6-265.2-14.3-221.3 24.7-172.1-19.5L0 1091.2V19l58.8 5.6 136.9 14.4 148.6-19.6L502.5 0l277 26L834 23z" />
	</svg>
	<svg class="testimonials__decor-top decor-top sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="inherit"
		viewBox="0 0 390 70">
		<path fill="inherit"
			d="m390 752.7-124-7.3L162.5 758 82 748l-82 6V9.7l27.5 3 64 7.2L161 10 235 0l129.5 13.3 25.5-1.6z" />
	</svg>

	<div class="testimonials__container">
		<h2 class="testimonials__title" id="testimonials">
			<span>
				<mark>
					Що
				</mark>
				клієнти
			</span>
			<span>
				кажуть
			</span>
			<span>
				<mark>
					про нас?
				</mark>
			</span>
		</h2>
		<div class="testimonials__content">
			<div class="testimonials__slider-wrap">
				<!-- prev slides -->
				<div class="testimonials__slider-items"></div>

				<div class="testimonials__slider swiper">
					<div class="testimonials__track swiper-wrapper">

						<article class="testimonials__slide slide-testimonial swiper-slide">
							<div class="slide-testimonial__header">
								<div class="slide-testimonial__meta">
									<div class="slide-testimonial__name">
										Валентин Петрович
									</div>
									<div class="slide-testimonial__position">
										Інженер металургійного холдингу “Acelor M”
									</div>
								</div>
								<img loading="lazy" class="slide-testimonial__logo" src="img/testimonials/logo.png" alt="Image">
							</div>
							<div class="slide-testimonial__content">
								<h3 class="slide-testimonial__title">
									Відтоді як наша компанія почала співпрацю зі StrumCo, я зрозумів яким має бути справжній сервіс.
								</h3>
								<div class="slide-testimonial__text">
									<p>Конкурентоспроможні ціни, гнучка система оплати та послуги з обліку StrumCо значно полегшили наше
										життя.
										Ще важливіше,
										їхній підхід до клієнтів - це не просто обіцянки, а реальні дії. Завдяки їх підтримці ми маємо
										стабільний
										та ефективний
										енергопостачання для виробництва. Я вдячний за їхню ефективність та професіоналізм. Особлива подяка
										моєму
										менеджеру
										Наталлі.</p>
								</div>
								<a class="slide-testimonial__arrow" href="">
									<svg>
										<use href="/#sprite-arrow-bottom-right"></use>
									</svg>
								</a>
							</div>

						</article>

						<!-- 2 slide -->
						<article class="testimonials__slide slide-testimonial swiper-slide">
							<div class="slide-testimonial__header">
								<div class="slide-testimonial__meta">
									<div class="slide-testimonial__name">
										Марія
									</div>
									<div class="slide-testimonial__position">
										Власниця зубопротезної лабораторії “Ортолаб”
									</div>
								</div>
								<img loading="lazy" class="slide-testimonial__logo" src="img/testimonials/logo.png" alt="Image">
							</div>
							<div class="slide-testimonial__content">
								<h3 class="slide-testimonial__title">
									Жодних дорікань!
								</h3>
								<div class="slide-testimonial__text">
									<p>Коли треба, мій менеджер завжди відповідає мені чи не миттєво. Але, слава богу, крім форс-мажорних
										блекаутів, для цього
										майже не має приводів. Як на мене, то саме таким і має бути сервіс - непомітним, швидким і
										ненав’язливим.</p>
									<p>Вдячна за їхню дбайливу підтримку та професійність.</p>
								</div>
								<a class="slide-testimonial__arrow" href="">
									<svg>
										<use href="/#sprite-arrow-bottom-right"></use>
									</svg>
								</a>
							</div>

						</article>

						<!-- test repeat -->
						<article class="testimonials__slide slide-testimonial swiper-slide">
							<div class="slide-testimonial__header">
								<div class="slide-testimonial__meta">
									<div class="slide-testimonial__name">
										Марія
									</div>
									<div class="slide-testimonial__position">
										Власниця зубопротезної лабораторії “Ортолаб”
									</div>
								</div>
								<img loading="lazy" class="slide-testimonial__logo" src="img/testimonials/logo.png" alt="Image">
							</div>
							<div class="slide-testimonial__content">
								<h3 class="slide-testimonial__title">
									Жодних дорікань!
								</h3>
								<div class="slide-testimonial__text">
									<p>Коли треба, мій менеджер завжди відповідає мені чи не миттєво. Але, слава богу, крім форс-мажорних
										блекаутів, для цього
										майже не має приводів. Як на мене, то саме таким і має бути сервіс - непомітним, швидким і
										ненав’язливим.</p>
									<p>Вдячна за їхню дбайливу підтримку та професійність.</p>
								</div>
								<a class="slide-testimonial__arrow" href="">
									<svg>
										<use href="/#sprite-arrow-bottom-right"></use>
									</svg>
								</a>
							</div>

						</article>
						<article class="testimonials__slide slide-testimonial swiper-slide">
							<div class="slide-testimonial__header">
								<div class="slide-testimonial__meta">
									<div class="slide-testimonial__name">
										Марія
									</div>
									<div class="slide-testimonial__position">
										Власниця зубопротезної лабораторії “Ортолаб”
									</div>
								</div>
								<img loading="lazy" class="slide-testimonial__logo" src="img/testimonials/logo.png" alt="Image">
							</div>
							<div class="slide-testimonial__content">
								<h3 class="slide-testimonial__title">
									Жодних дорікань!
								</h3>
								<div class="slide-testimonial__text">
									<p>Коли треба, мій менеджер завжди відповідає мені чи не миттєво. Але, слава богу, крім форс-мажорних
										блекаутів, для цього
										майже не має приводів. Як на мене, то саме таким і має бути сервіс - непомітним, швидким і
										ненав’язливим.</p>
									<p>Вдячна за їхню дбайливу підтримку та професійність.</p>
								</div>
								<a class="slide-testimonial__arrow" href="">
									<svg>
										<use href="/#sprite-arrow-bottom-right"></use>
									</svg>
								</a>
							</div>

						</article>
						<article class="testimonials__slide slide-testimonial swiper-slide">
							<div class="slide-testimonial__header">
								<div class="slide-testimonial__meta">
									<div class="slide-testimonial__name">
										Марія
									</div>
									<div class="slide-testimonial__position">
										Власниця зубопротезної лабораторії “Ортолаб”
									</div>
								</div>
								<img loading="lazy" class="slide-testimonial__logo" src="img/testimonials/logo.png" alt="Image">
							</div>
							<div class="slide-testimonial__content">
								<h3 class="slide-testimonial__title">
									Жодних дорікань!
								</h3>
								<div class="slide-testimonial__text">
									<p>Коли треба, мій менеджер завжди відповідає мені чи не миттєво. Але, слава богу, крім форс-мажорних
										блекаутів, для цього
										майже не має приводів. Як на мене, то саме таким і має бути сервіс - непомітним, швидким і
										ненав’язливим.</p>
									<p>Вдячна за їхню дбайливу підтримку та професійність.</p>
								</div>
								<a class="slide-testimonial__arrow" href="">
									<svg>
										<use href="/#sprite-arrow-bottom-right"></use>
									</svg>
								</a>
							</div>

						</article>

						<!-- last slide -->
						<a href="#" class="testimonials__slide slide-accent swiper-slide">
							<span class="slide-accent__text">
								Переглянути всі відгуки
							</span>
						</a>

					</div>
				</div>
			</div>


			<div class="testimonials__progress progress">
				<div class="progress__line"></div>
				<div class="progress__fill"></div>
				<button class="progress__thumb" aria-label="Перетягнути слайдер">
					<svg>
						<use href="/#sprite-arrow-right"></use>
					</svg>
				</button>
			</div>
		</div>

	</div>
</section>