<div class="fixed-menu">
	<a href="#fixed-nav" class="fixed-menu__btn">
		<div class="fixed-menu__btn-in">
			<svg class="fixed-menu__info">
				<use href="#sprite-info"></use>
			</svg>
			<svg class="fixed-menu__close">
				<use href="#sprite-close"></use>
			</svg>
		</div>
	</a>
	<nav id="fixed-nav" class="fixed-menu__nav">
		<ul class="fixed-menu__list">
			<!-- disabled -->
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Калькулятор</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Переваги StrumCo</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Клієнти</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">КП</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Подати заявку</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Тарифи на розподіл</a></li>
			<li class="fixed-menu__item"><a href="#" class="fixed-menu__link">Питання-відповіді</a></li>
		</ul>
	</nav>
</div>