<header class="header">
	<div class="header__container ">

		<div class="header__menu menu">

			<button type="button" aria-label="burger-menu" class="menu__icon icon-menu">
				<span></span>
			</button>
			<ul class="menu__socials max-lg:hidden">
				<li class="menu__socials-item">
					<a href="#" class="menu__socials-link" aria-label="facebook social link">
						<svg>
							<use href="__spritemap.svg#sprite-facebook"></use>
						</svg>
					</a>
				</li>
				<li class="menu__socials-item">
					<a href="#" class="menu__socials-link" aria-label="linkedin social link">
						<svg>
							<use href="__spritemap.svg#sprite-linkedin"></use>
						</svg>
					</a>
				</li>
				<li class="menu__socials-item">
					<a href="#" class="menu__socials-link" aria-label="telegram social link">
						<svg>
							<use href="/__spritemap.svg#sprite-telegram"></use>
						</svg>
					</a>
				</li>
				<li class="menu__socials-item">
					<a href="tel:#" class="menu__socials-link" aria-label="telegram social link">
						<svg>
							<use href="/__spritemap.svg#sprite-phone"></use>
						</svg>
					</a>
				</li>
			</ul>

			<nav class="menu__body">

				<svg class="menu__bg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1920 205">
					<path fill="#ced2d5" d="M411.6 0-2.5 37v213l1921-72.1V66.6l-643.7-43L1043.3 47z" />
					<path fill="#7a868e"
						d="m-550 225.4 722 43.4h725l720.5-20.2h594l556.7-95 533.4 66.8 433-13.4 3.4-68.5-672-66.8-450 81.8-751.8-96.8L665.8 120 52.8 6.6-640 111.8z" />
					<path fill="#2d3840" d="M1918 204v-75l-284.3 15.5-323.2-32-758 32L248.4 103-2 127v77z" />
				</svg>

				<div class="menu__top">
					<div class="menu__top-left">
						<div class="menu__lang lang-switch">
							<span class="lang-switch__current">
								Укр
							</span>
							<a href="#" class="lang-switch__locale">
								En
							</a>
						</div>
						<form type="search" class="menu__search search-menu">
							<button class="search-menu__button" aria-label="search">
								<svg>
									<use href="/__spritemap.svg#sprite-search"></use>
								</svg>
							</button>
							<input type="search" class="search-menu__input" placeholder="Пошук...">
						</form>
					</div>
					<div class="menu__top-right header__actions">
						<a href="#" class="xl:flex hidden header__button button button--accent ">
							<span class="button__icon">
								<svg>
									<use href="/__spritemap.svg#sprite-arrow-top-right"></use>
								</svg>
							</span>

							<span class="button__text">
								Стати клієнтом
							</span>
						</a>
						<a href="#" class="xl:flex hidden header__button button button--secondary">
							<span class="button__icon">
								<svg>
									<use href="/__spritemap.svg#sprite-lock"></use>
								</svg>
							</span>

							<span class="button__text">
								ОСОБИСТИЙ КАБІНЕТ
							</span>
						</a>

						<div class="theme-switcher ">
							<button class="theme-switcher__btn theme-switcher__btn--light" data-theme='light'>
								<svg>
									<use href="/__spritemap.svg#sprite-sun"></use>
								</svg>
							</button>
							<button class="theme-switcher__btn theme-switcher__btn--dark" data-theme='dark'>
								<svg>
									<use href="/__spritemap.svg#sprite-moon"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>

				<div class="menu__middle">
					<div class="menu__left">
						<ul class="menu__list">
							<li class="menu__item ">
								<a href="#sub-1" class="menu__link ">
									<span>StrumCo</span>
									<svg>
										<use href="__spritemap.svg#sprite-arrow-right"></use>
									</svg>
								</a>
								<ul id="sub-1" class="menu__sub-list">
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Про нас</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Команда</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Звітність</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Контакти</a></li>
								</ul>
							</li>
							<li class="menu__item">
								<a href="#sub-2" class="menu__link ">
									<span>Електроенергія</span>
									<svg>
										<use href="__spritemap.svg#sprite-arrow-right"></use>
									</svg>
								</a>
								<ul id="sub-2" class="menu__sub-list">
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">ціни</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Умови співробітництва</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Інфоцентр</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Нормативні документи</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Додаткові послуги</a></li>
								</ul>
							</li>
							<li class="menu__item">
								<a href="#sub-3" class="menu__link ">
									<span>Природний газ</span>
									<svg>
										<use href="__spritemap.svg#sprite-arrow-right"></use>
									</svg>
								</a>
								<ul id="sub-3" class="menu__sub-list">
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">ціни</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Умови співробітництва</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Інфоцентр</a></li>
									<li class="menu__sub-item"><a href="#" class="menu__sub-link">Нормативні документи</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="menu__right">
						<a href="#" class="article-item article-item--accent">
							<div class="article-item__row">
								<div class="article-item__count">
									8
								</div>
								<span class="article-item__icon icon-in-circle">
									<svg>
										<use href="__spritemap.svg#sprite-arrow-top-right"></use>
									</svg>
								</span>
							</div>
							<h2 class="article-item__title">
								Переваг StrumCo
							</h2>
						</a>

						<nav class="articles-nav">
							<h2 class="articles-nav__title">
								Енерго⚡блог
							</h2>
							<ul class="articles-nav__list">
								<li class="articles-nav__item">
									<a href="#" class="articles-nav__link">
										<p class="articles-nav__text">
											Що за кулісами? Як оцінюють стан енергосистеми виробники електроенергії? ...
										</p>
										<svg class="articles-nav__icon">
											<use href="__spritemap.svg#sprite-arrow-top-right"></use>
										</svg>
									</a>
								</li>
								<li class="articles-nav__item">
									<a href="#" class="articles-nav__link">
										<p class="articles-nav__text">
											Рекордний пік споживання електроенергії у лютому: чи буде рекорд за місяць
										</p>
										<svg class="articles-nav__icon">
											<use href="__spritemap.svg#sprite-arrow-top-right"></use>
										</svg>
									</a>
								</li>
								<li class="articles-nav__item">
									<a href="#" class="articles-nav__link">
										<p class="articles-nav__text">
											Ринок на добу наперед: підсумки січня
										</p>
										<svg class="articles-nav__icon">
											<use href="__spritemap.svg#sprite-arrow-top-right"></use>
										</svg>
									</a>
								</li>
								<li class="articles-nav__item">
									<a href="#" class="articles-nav__link">
										<p class="articles-nav__text">
											Динаміка виробництва електроенергії: 2022-2023
										</p>
										<svg class="articles-nav__icon">
											<use href="__spritemap.svg#sprite-arrow-top-right"></use>
										</svg>
									</a>
								</li>
								<li class="articles-nav__item">
									<a href="#" class="articles-nav__link">
										<p class="articles-nav__text">
											Рекордний пік споживання електроенергії у лютому: чи буде рекорд за місяць
										</p>
										<svg class="articles-nav__icon">
											<use href="__spritemap.svg#sprite-arrow-top-right"></use>
										</svg>
									</a>
								</li>
							</ul>
							<a href="#" class="articles-nav__btn button button--accent ">
								<span class="button__text">Всі статті</span>
								<span class="button__icon">
									<svg>
										<use href="__spritemap.svg#sprite-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</nav>

						<a href="#" class="article-item ">
							<img class="article-item__img" src="img/header/article.jpg" alt="Image">
							<div class="article-item__row">
								<span class="article-item__icon icon-in-circle">
									<svg>
										<use href="__spritemap.svg#sprite-arrow-top-right"></use>
									</svg>
								</span>
							</div>
							<h2 class="article-item__title">
								Нам довіряють
							</h2>
						</a>

					</div>
				</div>

				<div class="xl:hidden menu__bottom">
					<button type="button" aria-label="burger-menu" class="menu__icon icon-menu">
						<span></span>
					</button>
					<a href="#" class=" menu__btn button button--accent ">
						<span class="button__text">Стати клієнтом</span>
						<span class="button__icon">
							<svg>
								<use href="__spritemap.svg#sprite-arrow-top-right"></use>
							</svg>
						</span>
					</a>
				</div>



			</nav>


		</div>
		<a href="#" class="header__logo">
			<svg>
				<use href="/__spritemap.svg#sprite-logo"></use>
			</svg>
		</a>

		<div class="header__actions">
			<a href="#" class="header__button button button--accent max-lg:hidden">
				<span class="button__icon">
					<svg>
						<use href="/__spritemap.svg#sprite-arrow-top-right"></use>
					</svg>
				</span>

				<span class="button__text">
					Стати клієнтом
				</span>
			</a>
			<a href="#" class="header__button button button--secondary">
				<span class="button__icon">
					<svg>
						<use href="/__spritemap.svg#sprite-lock"></use>
					</svg>
				</span>

				<span class="button__text">
					ОСОБИСТИЙ КАБІНЕТ
				</span>
			</a>

			<div class="theme-switcher max-lg:hidden">
				<button class="theme-switcher__btn theme-switcher__btn--light" data-theme='light'>
					<svg>
						<use href="/__spritemap.svg#sprite-sun"></use>
					</svg>
				</button>
				<button class="theme-switcher__btn theme-switcher__btn--dark" data-theme='dark'>
					<svg>
						<use href="/__spritemap.svg#sprite-moon"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>

	<!-- <div class="flex gap-4 items-center">
		<button data-theme='light'>light</button>
		<button data-theme='dark'>dark</button>
		<button data-theme='other'>other</button>
	</div> -->
</header>